<div>
  <p><%= @ticket.id %></p>
  <p><%= @ticket.name %></p>
  <p><%= @ticket.phone %></p>
  <p><%= @ticket.email %></p>
  <p><%= @ticket.film.title %></p>
  <p><%= @ticket.film.price.round(2) %></p>
</div>
